{% extends "story6/base.html" %}
{% load static %}

{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'story6/style.css' %}">{% endblock style %}

{% block title %}<title>List Kegiatan</title>{% endblock title %}

{% block content %}
	<div class="container">
		<a href="{% url 'story6:tambahKegiatan' %}"><button class="btn btn-danger tambahKegiatanButton">Tambah Kegiatan</button></a>
		<div class="row subjectCard activity">
			{% for kegiatan in kegiatan %}
			<div class="col col-10 col-md-2 card">
				<form action="{% url 'story6:deleteKegiatan' kegiatan.id %}" method="POST">
					{% csrf_token %}
					<button class="deleteKegiatan" type="submit">
						<div class="right"></div>
						<div class="left"></div>
					</button>
				</form>
				<button onclick="daftar('{{ kegiatan.id }}','{{ kegiatan.title }}')" class="kotak">Daftar</button>
					<img class="imageKegiatan" src="{% static 'story6/images/group.png' %}">
					<h1 class="subjectTitle">{{ kegiatan.title }}</h1>
					<h6>Peserta</h6>
					<ul>
						{% for peserta in kegiatan.peserta_set.all %}
							<li>{{ peserta.nama_peserta }}</li>
						{% endfor %}
					</ul>
			</div>
			{% endfor %}
		</div>
	</div>

	<div class="registerEvent">
		<button onclick="close()" class="deleteKegiatan" id="closeRegist" >
			<div class="right"></div>
			<div class="left"></div>
		</button>
		<div class="row">
			
			<div class="col col-12"><h3 class="titleEvent" style="text-align: center; padding: 10px"></h3></div>
			<div class="col col-10 offset-1">
				<form id="tambahPeserta" method="POST" action="">
					{% csrf_token %}
					<label for="id_nama_peserta">Nama :</label>
					{{ pesertaForm.nama_peserta }}
					<button style="margin: auto; margin-top: 20px; " class="btn btn-outline-danger" type="submit">Daftar Kegiatan</button>
				</form>
			</div>
		</div>
	</div>

{% endblock content %}

{% block script %}
	<script type="text/javascript">
		function daftar(e, title) {
			$(".registerEvent").css('display','block');
			$('#tambahPeserta').attr('action', "/tambahPeserta/" + e);
			document.getElementsByClassName('titleEvent')[0].innerText = title;
		}		
	</script>
	<script type="text/javascript">
		function close() {
			console.log("close");
			$(".registerEvent").css('display','none');
		}
	</script>
{% endblock script %}