{% extends "story6/base.html" %}
{% load static %}

{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'story6/style.css' %}">{% endblock style %}

{% block title %}<title>Tambah Kegiatan</title>{% endblock title %}

{% block content %}
<div class="container tambahKegiatanPage">
	<div class="row">
		<div class="col col-10 col-md-6 offset-1 offset-md-3">
			<h1>Daftarkan Kegiatanmu!</h1>
			<form method="POST" action="{% url 'story6:tambahKegiatan' %}">
			{% csrf_token %}
			<p>{{ form.title }}</p>
			<button class="btn btn-outline-danger" type="submit">Tambah Kegiatan</button>
			</form>
		</div>
	</div>
</div>
{% endblock content %}